:root {
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --lightslate: #8e8f99;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* HEADER */
.page-header {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.upper-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.header-subtitle {
  color: var(--navyblue);
}

.header-title {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  position: relative;
}
.header-list {
  display: flex;
  align-items: flex-start;
  column-gap: 40px;
}

.header-navigate-link {
  color: var(--navyblue);
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
}
.header-navigate-link:hover,
.header-navigate-link:focus {
  color: var(--ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigate-link:hover::after,
.header-navigate-link:focus::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  margin-top: 20px;
  background-color: var(--ocean);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
  display: flex;
  column-gap: 40px;
}
.header-contact {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-contact-list {
  font-style: normal;
}

.header-contact-list a:hover,
.header-contact-list a:focus {
  color: var(--ocean);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HERO SECTION */

.hero-section {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
  background-color: var(--navyblue);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
}
.hero-section-button {
  display: block;
  background: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: auto;
}
.hero-section-button:hover,
.hero-section-button:focus {
  background-color: var(--ocean);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* SECTION ADVANTAGES */
.advantages-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-content {
  width: calc((100% - 72px) / 4);
}
.advantages-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  background-color: var(--cloud);
}

.advantages-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  width: 264px;
  margin-bottom: 8px;
}

.advantages-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* SECTION OUR TEAM */
.team-section {
  background-color: var(--cloud);
  height: 732px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  color: var(--navyblue);
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.team-list-block {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}
.team-list-img {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-list {
  display: flex;
  column-gap: 24px;
}
.team-list-content {
  width: 40px;
  height: 40px;
}

.team-card-content {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
.team-name {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-position {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
}
.team-link-icon:hover {
  background-color: var(--ocean);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-icon {
  fill: var(--cloud);
}
/* SECTION OUR PORTFOLIO */
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-content {
  border: 1px solid var(--cornflower);
  background: var(--white);
  display: flex;
  width: calc((100% - 48px) / 3);
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  width: 360px;
}
.overlay {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--cloud);
  text-align: justify;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-animation-img {
  position: relative;
  overflow: hidden;
}
.portfolio-list-content:hover .overlay {
  transform: translateY(0);
}
.portfolio-services {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-description {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* FOOTER */
.footer-section {
  background-color: var(--navyblue);
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-social-container {
  display: flex;
}
.footer-left {
  flex: 1;
  max-width: max-content;
  margin-right: 120px;
}
.footer-title {
  display: inline-block;
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.footer-subtitle {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: max-content;
}
.footer-social-title {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  column-gap: 16px;
}
.footer-list-content {
  width: 40px;
  height: 40px;
}
.footer-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
}
.footer-link-icon:hover {
  background-color: var(--ocean);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-icon {
  fill: var(--cloud);
}
